
/*
    32em = 512px
    64em = 1024px
*/

@font-face {
    font-family: 'akkurat-light';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: local('lineto akkurat prolight'),
         url('../fonts/lineto-akkurat-pro-light.woff2') format(woff2),
         url('../fonts/lineto-akkurat-pro-light.woff') format(woff);
}

:root {
    --sizing-reset: 0;
    --sizing-default: 1em;
    --sizing-border: .125em;
    --fill-width: 100vw;
    --fill-height: 100vh;
    --color-black: hsl(0, 0%, 0%);
    --color-white: hsl(255, 100%, 100%);
    --color-pink: hsl(305, 90%, 90%);
    --font-size-master: 62.5%;
    --font-size-base: 1.6rem;
    --font-size-heading: 2.8rem;
    --font-size-heading-primary: 3.5rem;
    --font-size-heading-secondary: 2.5rem;
    --font-size-heading-tertiary: 1.8rem;
    --font-size-content: 1.6rem;
    --icons-size-share: 3em;
    --transition-hover-duration: 125ms;

    --button-cta-background: ;
    --button-cta-color: var(--color-black);
    --button-cta-border: var(--color-black);
    --button-cta-border-width: var(--sizing-border);

}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-family: arial, sans-serif;
    font-size: var(--font-size-master);
    color: var(--color-black);
}

body {
    margin: var(--sizing-reset, 0);
    font-size: var(--font-size-base, 1.6rem);
}

.cms-stack {
    padding: 3em 1em;
    background-color: pink;
    background-color: var(--color-pink, pink);
}

.cms-region {
    padding: calc( var(--sizing-default) / 2 );
    text-align: center;
    display: block; /* Legacy fallback */
    clear: both; /* Legacy fallback */
}

.cms-region--content {  
    max-width: 48em;
    margin: 0 auto;
}

.cms-region--content > * {
    margin-top: var(--sizing-reset);
    margin-bottom: var(--font-size-base);
}

.cms-region--content > * + * {
    margin-top: var(--font-size-base);
    margin-bottom: var(--font-size-base);
}

.cms-region--content p {
    font-family: 'akkurat-light', sans-serif;
    font-size: var(--font-size-content);
}

@media screen and (min-width: 32em) {
    .cms-region--content p {
        --font-size-content: 2.0rem;
    }
}

.cms-region--content a {
    color: var(--color-black);
    font-weight: bold;
}

.cms-region--content a:hover {
    text-decoration: none;
}

.cms-region--content h1,
.cms-region--content h2,
.cms-region--content h3 {
    text-transform: uppercase;
}

.cms-region--content h1 {
    font-size: var(--font-size-heading-primary);
}

.cms-region--content h1 small {
    display: block;
    font-size: var(--font-size-heading-secondary);
}

.cms-region--content h2 {
    font-size: var(--font-size-heading-secondary);
}

.cms-region--content h3 {
    font-size: var(--font-size-heading-tertiary);
}

.cms-region--cta {
    padding-right: var(--sizing-reset, 0);
    padding-left: var(--sizing-reset, 0);
}

.cms-region--cta a {
    min-width: 17.0625em;
    padding: .688em .75em;
    display: inline-block;
    color: var(--button-cta-color, black);
    font-size: var(--font-size-content);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: var(--button-cta-border-width) solid var(--button-cta-border, black);
    background-color: var(--button-cta-background, black);
    transition: background-color var(--transition-hover-duration);
}

.cms-region--cta a:hover,
.cms-region--cta a:focus {
    --button-cta-color: white;
    --button-cta-background: black;
    text-decoration: none;
    mix-blend-mode: multiply;
}

.cms-region--media {
    --sizing-default: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: pink; /* Legacy fallback */
    background-color: var(--color-pink, pink);
}

@media (min-width: 64em) and (pointer: fine) {
    .cms-region--media {
        height: var(--fill-height);
    }
}

.cms-region__video {
    width: 100%; /* Legacy fallback */
    width: var(--fill-width, 100%);
}

@media (min-width: 64em) and (pointer: fine) {
    .cms-region__video {
        height: var(--fill-height);
        object-fit: cover;
    }
}

.products {
    max-width: 96rem;
    margin: var(--sizing-default) auto;
    padding: 0;
    list-style: none;
    overflow: hidden; /* Legacy fallback */
    display: flex; /* Legacy fallback */
    justify-content: center; /* Legacy fallback */
    flex-wrap: wrap; /* Legacy fallback */
    display: grid;
    grid-template-columns: repeat(2, minmax(8rem, 1fr));
    grid-gap: 4em var(--sizing-default);
}

@media (min-width: 64em) {
    .products {
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        grid-gap: 4em;
    }
}

.product-item {
    padding: 1em; /* Legacy fallback */
    float: left; /* Legacy fallback */
    flex: 1 0 auto; /* Legacy fallback */
}

@supports (display:grid) {
    .product-item {
        padding: var(--sizing-reset);
    }   
}

.product-item-info {
    position: relative;
}

.price-label {
    display: none;
}

.product-item-inner {
    display: none;
}

.product-image-photo {
    width: 100%;
    height: auto;
    display: block;
}

.product-item-name {
    font-size: 1.6rem;
}

.cms-heading-social {
    margin: var(--sizing-reset);
    font-size: var(--font-size-heading-tertiary);
    text-transform: uppercase;
}

@media screen and (min-width:32em) {
    .cms-heading-social {
        --font-size-heading-tertiary: 2.4rem;
    }
}

.cms-region--social {
    display: grid;
    grid-gap: 2.8rem;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
}

.cms-region__social-img {
    width: 3em; /* Legacy fallback */
    height: 3em; /* Legacy fallback */
    width: var(--icons-size-share, 3em);
    height: var(--icons-size-share, 3em);
    margin: 0 1em; /* Legacy fallback */
    vertical-align: middle;
    transition: transform var(--transition-hover-duration) ease-out;
}

@supports (display:grid) {
    .cms-region__social-img {
        margin: 0;
    }   
}

.cms-region__social-img:hover,
.cms-region__social-img:focus {
    transform: scale(1.15);
}

.cms-region__social-img:active {
    transform: scale(1);
}

.cms-region--slider {
    padding: var(--sizing-reset);
}

.slider-container__img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.util-hidden {
    display: none;
}

.util-skiplink {
    position: absolute;
    left: -9999em;
    background-color: white;
    padding: var(--sizing-default, 1em);
}

.util-skiplink:focus {
    left: 0;
    z-index: 1;
}
