.tns-outer {
    position: relative;
}

.tns-controls {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tns-nav {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.tns-horizontal.tns-subpixel > .tns-item {
    white-space: unset;
}

.tns-item picture * {
    width: 100vw;
}

.tns-nav > [aria-controls] {
    width: 21px;
    height: 21px;
    padding: 0;
    margin: 16px;
    border-radius: 50%;
    background: black;
    border: solid black;
    border-width: 6px;
    transition: border-width 150ms ease-in;
  }

.tns-nav > .tns-nav-active {
    background: white;
    border-width: 0;
}
